<h1 class="text-center">Add a new category</h1>
<div class="container">
<%= render "form", category: @category %>
<div>
<br>

<div class="container">
  <%= link_to "Back to categories", categories_path %>
</div>
  